.txtSquareA{
    color: #232629;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.suites-grid {
    width: 90%;
    max-width: 1300px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.suite-card.full {
    grid-column: 1 / 3;
}

.suite-card {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    height: 100%;
    position: relative;
}

.suite-image img {
    width: 100%;
    height: 317px;
    object-fit: cover;
}
.suite-image {
    position: relative;
    z-index: 1;
}

.suite-info {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.suite-info::before{
    content: "";
    position: absolute;
    inset: 0;
    background: #a36946;
    --mask: radial-gradient(5px at 5px 5px, #0000 calc(98% - 1px), #000 calc(100% - 1px) 98%, #0000) -5px -5px, linear-gradient(90deg, #000 2px, #0000 0) -1px 50% / 100% calc(100% - 10px + 1px) repeat-x, linear-gradient(#000 2px, #0000 0) 50% -1px / calc(100% - 10px + 1px) 100% repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.suite-info::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 100%;
    --s: 5px;
    --mask: radial-gradient(var(--s) at var(--s) var(--s), #0000 98%, #000) calc(-1 * var(--s)) calc(-1 * var(--s));
    -webkit-mask: var(--mask);
    mask: var(--mask);
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.suite-title {
    color: #232629;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.suite-details-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
    color: #232629;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.56px;
}

.icon-item img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.suite-description {
    color: #232629;
    font-family: "EBGaramond-Regular", serif;
    font-size: 15px;
    font-weight: 400;
}

.suite-footer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
        align-items: center;
}

.btn-details {
    cursor: pointer;    
    color: #935938;
    text-align: center;
    font-family: "EBGaramond-Regular", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-details::before {
    content: "› ";
    font-weight: bold;
}

.btn-reservar {
    background: #DEA87D;
    padding: 8px 20px;
    cursor: pointer;
    color: #072942;
    text-align: center;
    font-family: "EBGaramond-Regular", serif;
    font-size: 17px;
    font-weight: 500;
}

.infoFullCard{
    flex-direction: row;
    flex-wrap: wrap;
}
.colCardFull1{
    width: 48%;
}
.colCardFull2{
    width: 48%;
}
.colCardFull3{
    width: 100%;
}
@media (max-width: 900px) {
    .suite-card {
        grid-template-columns: 1fr;
    }
    .suite-grid {
        grid-template-columns: 1fr;
    }
    .suite-card.full {
        grid-column: auto;
    }
    .suite-image img {
        height: 300px;
    }
}
