.txtSection1A{
    color: #072942;
    text-align: center;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    & span{
        font-family: "EBGaramond-Regular", serif;
        font-style: italic;
        font-weight: 600;
    }
}

