.txtSection1A{
    color: #072942;
    text-align: center;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    & span{
        font-family: "EBGaramond-Regular", serif;
        font-style: italic;
        font-weight: 600;
    }
}
.contIconsHab{
    width: 100%;
    display: flex;
    margin: auto;
    gap: 42px;
}
.groupIconA{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 107px;
}
.txtGroupIconA{
    color: #072942;
    text-align: center;
    font-family: "Roboto-Thin",sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    margin-top: 21px;
}
@media (max-width:990px) {
    .contIconsHab{
        gap: 22px;
    }
}
@media (max-width:764px) {
    .contIconsHab{
        flex-wrap: wrap;
        justify-content: center;
    }
    .groupIconA{
        width: 15%;
    }
}

