.mt2{
    margin-top: 2%!important;
}
.mt3{
    margin-top: 3%!important;
}
.mt5{
    margin-top: 5%!important;
}
.mb2{
    margin-bottom: 2%!important;
}
.mb3{
    margin-bottom: 3%!important;
}
.mb5{
    margin-bottom: 5%!important;
}
main#main > .standard-content-width {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.sectionUno{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cont-90{
    width: 90%;
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-txtUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.col-imgDos{
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txtSectionUno{
    color: #072942;
    font-family: "Roboto-Thin",sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    text-align: center;
    & span{
        font-family: "EBGaramond-Regular",serif;
        font-style: italic;
        font-weight: 500;
    }
}
.txt2SectionUno{
    color: #232629;
    text-align: center;
    font-family: "EBGaramond-Regular",serif;
    font-size: 17px;
    font-weight: 400;
}
.brBlock{
    display: none;
}
.sectionDos{
    width: 100%;
}
.txtSectionDos{
    color: #072942;
    text-align: center;
    font-family: "Roboto-Thin",sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    & span{
        font-family: "EBGaramond-Regular",serif;
        font-style: italic;
        font-weight: 600;
    }
}
.txt2SectionDos{
    color: #232629;
    text-align: center;
    font-family: "EBGaramond-Regular",serif;
    font-size: 17px;
    font-weight: 400;
}
.txt3SectionDos{
    color: #072942;
    text-align: center;
    font-family: "Roboto-Thin",sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1.04px;
    text-transform: uppercase;
}
@media (max-width:800px) {
    .cont-90{
        flex-direction: column;
    }
    .col-txtUno{
        width: 100%;
        padding: 0 40px;
    }
    .col-imgDos{
        width: fit-content;
        & img{
            width: 100%;
        }
    }
}
@media (max-width:520px) {
    .txtSectionUno, .txtSectionDos{
        font-size: 27px;
    }
    .txt3SectionDos{
        font-size: 22px;
    }
    .brBlock{
        display: block;
    }
}



