.imgDoubleCard{
    height: 311px!important;

}
.centerBtnCard{
    justify-content: center!important;
}
.btnOffer{
    border: 1px solid #A36946;
    padding: 10px 20px;
    color: #935938;
    text-align: center;
    font-family: "EB Garamond";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
