.sectionWedding {
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background-color: #FCF9F3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.decoWedding{
    position: absolute;
    left: 8.5%;
    top: 20%;
    z-index: 0;
    opacity: 24%;
    width: 5%;
}
.decoWedding2{
    position: absolute;
    right: 8.5%;
    top: 20%;
    z-index: 0;
    opacity: 24%;
    width: 5%;
    rotate: 180deg;
}
.contWedding{
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.subcontWed{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4% 0%;
    gap: 35px;
}
.colTitleWed{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colTxtWed{
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txtWedding1{
    margin: 0;
    color: #072942;
    text-align: center;
    font-family: "EBGaramond-Regular",serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    & span{
        color: #072942;
        font-family: "Roboto-Thin",sans-serif;
        font-weight: 300;
        font-style: normal;
    }
}
.txtWedding2{
    margin: 0;
    color: #232629;
    font-family: "EBGaramond-Regular",serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
@media (max-width:990px) {
    .subcontWed {
        flex-direction: column;
    }
    .colTitleWed,.colTxtWed {
        width: 100%;
    }
    .decoWedding, .decoWedding2 {
        top: 16%;
    }
}
@media (max-width:760px) {
    .contWedding{
        width: 90%;
    }
    .decoWedding {
        left: 3.5%;
    }
    .decoWedding2 {
        right: 3.5%;
    }
    .decoWedding, .decoWedding2 {
        top: 12%;
    }
}